.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bener {
    width: 100vw;
    height: auto;
}

.textBox {
    margin: 3vw 0 0 0;
    text-align: center;
    font-size: 3vw;

    div:nth-of-type(1) {
        font-weight: 200;
    }

    div:nth-of-type(2) {
        margin-top: 0.5vw;
        font-weight: 800;
        color: #081b40;
    }
}

.image {
    width: 80%;
    height: auto;
    margin-top: 2vw;
    margin-bottom: 2vw;

    @media (max-width: 900px) {
        width: 90%;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }
}

.commonBox {
    margin: 2vw 0;
    width: 80%;
    background-color: #f8f4f0;
    border: 3px solid #e9e2da;

    @media (max-width: 900px) {
        width: 90%;
    }

    .notice {
        padding: 0 1vw;
        line-height: 1.1vw;
        font-size: 1vw;
        color: #ada8a2;

        @media (max-width: 900px) {
            padding: 0 3vw;
            font-size: 2.5vw;
            line-height: 3vw;
            text-indent: -2vw;
        }
    }

    .notice:nth-of-type(1) {
        padding-top: 1vw;
        padding-bottom: 1vw;
    }

    .notice:nth-of-type(2),
    .notice:nth-of-type(3),
    .notice:nth-of-type(4),
    .notice:nth-of-type(5) {
        padding-bottom: 1vw;
    }

    .notice:nth-of-type(6) {
        padding-bottom: 1vw;
    }
    .notice:nth-of-type(7) {
        padding-bottom: 1vw;
    }

}

.complexSelector {
    display: flex; /* Flexbox 레이아웃 사용 */
    justify-content: center; /* 중앙 정렬 */
    margin: 1vw; /* 마진 설정 */
    width: 80%; /* 전체 너비 설정 */
    border-radius: 1px; /* 모서리 둥글게 설정 */
    border: 1px solid #e0e0e0; /* 경계 설정 */
    background-color: #f5f5f5; /* 밝은 회색 배경 */

    button {
        flex: 1; /* 버튼이 공간을 균등하게 차지함 */
        padding: 13px 0; /* 위아래 패딩 설정 */
        font-family: 'SUIT-Regular';
        font-size: 1.3vw; /* 글자 크기 설정 */
        color: #011d40; /* 남색 글자색 설정 */
        cursor: pointer; /* 커서 포인터로 변경 */
        text-align: center; /* 텍스트 중앙 정렬 */
        border: none; /* 경계 없음 */
        background-color: transparent; /* 배경 투명 */
        transition: background-color 0.3s, color 0.3s; /* 호버 시 효과 추가 */
        position: relative; /* 자식 요소 절대 위치 설정을 위한 상대 위치 */

        &:first-child::after {
            content: ''; /* 구분선 의사 요소 생성 */
            position: absolute; /* 절대 위치 설정 */
            right: 0; /* 오른쪽 정렬 */
            top: 15%; /* 상단 위치 */
            height: 70%; /* 높이 설정 */
            width: 1px; /* 너비 설정 */
            background-color: #e0e0e0; /* 구분선 색상 설정 */
        }

        &:hover {
            background-color: #e0e0e0; /* 호버 시 배경색 변경 */
        }

        &.active-1 { /* 1단지 선택 시 */
            background-color: #011d40; /* 남색 배경 */
            color: #ffffff; /* 흰색 글자 */
        }

        &.active-2 { /* 2단지 선택 시 */
            background-color: #c5b6a1; /* 금색 배경 */
            color: #ffffff; /* 흰색 글자 */
        }
    }

    @media (max-width: 900px) {
        width: 90%; /* 모바일에서 너비 조정 */

        button {
            font-family: 'SUIT-Regular';
            font-size: 2.5vw; /* 모바일에서 글자 크기 조정 */
            padding: 5px 0; /* 위아래 패딩 조정 */
        }
    }
}