.backgroundContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    @media (max-width: 900px) {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    .popupImg {
        width: 20vw;
        object-fit: cover;  /* 비율 유지하면서 크기를 채우기 */

        @media (max-width: 900px) {
            width: 80vw;
        }
    }

    .btnContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        width: 15vw;
        height: 6vw;

        @media (max-width: 900px) {
            background-color: #d4d4d4;
            width: 80vw;
        }

        .todayNotOpenBtn {
            color: #FFFFFF;
            cursor: pointer;

            @media (max-width: 900px) {
                padding-left: 1vw;
                color: #333333;
                font-size: 4vw;
            }
        }

        .closeBtn {
            color: #FFFFFF;
            cursor: pointer;

            @media (max-width: 900px) {
                margin: 0;
                padding: 1vw 2vw;
                background-color: #333333;
                color: #d4d4d4;
                font-size: 4vw;
            }
        }
    }
}