.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.447);

    z-index: 1000;
}

.imageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .image1 {
        height: 25rem;
        width: auto;

        @media (max-width: 900px) {
            height: 52.5vw;
        }

        @media (max-width: 650px) {
            height: 50vw;
        }
    }

    .image2 {
        width: 18rem;
        height: 25rem;

        @media (max-width: 900px) {
            height: 52.5vw;
            width: auto;
        }

        @media (max-width: 650px) {
            height: 71vw;
            width: auto;
        }
    }

    @media (max-width: 900px) {
        gap: 1rem;
        width: 100%;
    }

    @media (max-width: 650px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }
}

.closeBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;

    color: #FFFFFF;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;

    cursor: pointer;
    
    @media (max-width: 650px) {
        font-size: 0.9rem;
    }
}

.closeBtn:nth-child(1) {
    border-right: 1px solid #FFFFFF;
}